<!-- <div mat-dialog-content>
  <form #buyNowForm="ngForm">
    <mat-form-field>
      <input matInput type="file" (change)="onFileSelected($event)" accept="image/*" required>
      <mat-error *ngIf="buyNowForm.controls['image'].hasError('required')">Image is required</mat-error>
      <mat-error *ngIf="imageSizeError">Image size should be less than 100KB</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Product Name" name="productName" [(ngModel)]="productName" required>
      <mat-error *ngIf="buyNowForm.controls['productName'].hasError('required')">Product Name is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Price" type="number" name="price" [(ngModel)]="price" required>
      <mat-error *ngIf="buyNowForm.controls['price'].hasError('required')">Price is required</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" (click)="addProduct()" [disabled]="!buyNowForm.valid">Add Product</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</div> -->

      <form [formGroup]="myReactiveForm" class="ml-4"(submit)="addProduct()" class="common-form">
        <div class="form-group">
          
          <label for="image">Image</label>
          <input type="text" class="form-control form-input" id="image"  formControlName="image">
          <span class="small text-danger" *ngIf=""></span>
        </div>
      
          <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control form-input" id="productN" formControlName="productName">
            <span class="small text-danger" *ngIf=""></span>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control form-input" id="price" formControlName="price">
            <span class="small text-danger" *ngIf=""></span>
          </div>
       
          <button type="submit" class="btn btn-primary btn-sm mb-2">Add Product</button>
        </form>
    


<!-- <form  #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
  <div class="form-group">

    <input type="text" class="form-input mt-4" placeholder="Enter Product Image" name="image" ngModel>
  </div>
  <div class="form-group">

    <input type="text" class="form-input" placeholder="Enter Product Name" name="name" ngModel>
  </div>
  <div class="form-group">

    <input type="text" class="form-input" placeholder="Enter Product Price" name="price" ngModel>
  </div>



  <button type="submit" class="form-button btn btn-primary btn-sm mb-2 ">Add Product</button>

</form> -->